.rightbar {
  flex: 2;
  overflow-y: scroll;
}

.rightBarTop {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.giftIcon {
  height: 30px;
  width: 30px;
}

.adImage {
  width: 80%;
  margin-left: 10%;
  object-fit: cover;
  border-radius: 5px;
  align-self: center;
}

.rightBarBottom {
  display: flex;
  flex-direction: column;
}

.newsDescription {
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
}
